In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"

In [3]:
page = requests.get(url)

In [4]:
soup = BeautifulSoup(page.text,"html.parser")

In [5]:
table = soup.find("table",class_="table rankings-table")

In [6]:
f_bowler = table.find("div",class_="rankings-block__banner--name-large").text

In [7]:
b_team= table.find("div",class_="rankings-block__banner--nationality").text.replace('\n','')

In [8]:
b_rating = table.find("div",class_="rankings-block__banner--rating").text

In [9]:
bowlers = table.find_all("td",class_="table-body__cell rankings-table__name name")[0:9]

In [10]:
bowler = [f_bowler]
for i in bowlers:
    bowler.append(i.text.replace('\n',''))

In [11]:
teams = table.find_all("span",class_="table-body__logo-text")[0:9]

In [12]:
team=[b_team]
for i in teams:
    team.append(i.text)

In [13]:
ratings = table.find_all("td",class_="table-body__cell rating")[0:9]

In [14]:
rating = [b_rating]
for i in ratings:
    rating.append(i.text)

In [15]:
data = list(zip(bowler,team,rating))

In [16]:
import pandas as pd
df = pd.DataFrame(data, columns = ["Bowler Name","Team","Ratings"])
df

         Bowler Name Team Ratings
0        Trent Boult   NZ     737
1       Mehedi Hasan  BAN     713
2   Mujeeb Ur Rahman  AFG     708
3         Matt Henry   NZ     691
4     Jasprit Bumrah  IND     690
5      Kagiso Rabada   SA     666
6       Chris Woakes  ENG     665
7     Josh Hazlewood  AUS     660
8        Pat Cummins  AUS     646
9  Mustafizur Rahman  BAN     645